.pulumi
**/bin/
**/obj/
**/node_modules/
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
nuget/
.DS_Store

ci-scripts/
*.tar.gz

/provider/cmd/pulumi-resource-*/schema-embed.json
.vscode/
**/*.bak
ci-scripts/
*.tar.gz
**/out.txt

sdk/dotnet/version.txt
sdk/java/.gradle
sdk/java/build/
sdk/java/build.gradle
sdk/python/venv
sdk/python/pulumi_kubernetes_ingress_nginx.egg-info/
sdk/python/pulumi_kubernetes_ingress_nginx/__pycache__/
**/*.sln
