env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  command-dispatch-for-testing:
    name: command-dispatch-for-testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - uses: peter-evans/slash-command-dispatch@v2
        with:
          commands: run-acceptance-tests
          issue-type: pull-request
          permission: write
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          repository: pulumi/pulumi-aws
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
name: command-dispatch
on:
  issue_comment:
    types:
      - created
      - edited
